.bg-image {
    background-image: url('./img/banner-bg.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-margin-bottom {
    margin-bottom: 5rem;
}
.header-margin-top {
    margin-top: -5rem;
}